body {
    background-color: blue;
    color: white;
    font-family: NunitoSansRegular,sans-serif;
}

.contact {
    display: flex;
    position: absolute;
    left: 51.7rem;
    top: -0.5rem;
}

.contact li {
    display: inline;
    list-style-type: none;
    margin-left: 1rem;
    font-size: 0.7rem;
}

.header {
    background-color:blue;
    width: 200vh;
    height: 15vh;
    display: flex;
    position: absolute;
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.header li {
    display: inline;
    list-style-type: none;
    margin-left: 2rem;
}

.navbar-login {
    margin-left: 2rem;
    border-radius: 50px;
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border: 1px solid white;
}

.navbar-li {
    position: absolute;
    top: 1.5rem;
    left: 20rem;
}

.content {
    height: 40vh;
    width: 180vh;
    position: absolute;
    top: 15rem;
}

.content h1 {
    font-size: 2.5rem;
    margin-left: 3rem
}

.content h2 {
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 3rem;
}

.content img {
    position: absolute;
    left: 32rem;
    top: -8rem;
    width: 42rem;
    height: 42rem;
}

.service {
    position: absolute;
    top: 50rem;
    background-color: #F6FBFF;
    color: blue;
    width: 200vh;
    height: 120vh;
}

.service h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.card-service{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    margin-left: -1rem;
    margin-top: 5rem;
}

.service-detail{
    width: 14rem;
    height: 20rem;
    background-color: gray;
    color: black;
    text-align: center;
    font-size: 1rem;
    margin-left: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.service-detail-web {
    width: 35rem;
    height: 9rem;
    background-color:gray;
    color: black;
    text-align: center;
    position: absolute;
    top: 24rem;
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
}

.service-detail-web img {
    width: 92px;
    height: 92px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.service-detail-web h3 {
    text-align: center;
    white-space: nowrap;
}

.service-detail-web p {
    margin-top: 4rem;
    margin-left: -11rem;
    text-align: justify;
}

.feature-priority {
    position: absolute;
    top: 100rem;
    background-color: white;
    color: blue;
    width: 200vh;
    height: 100vh;
}

.feature-priority h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-left: -10rem;
}

.feature-priority p {
    text-align: justify;
    color: gray;
}

.feature-priority-card {
    margin-left: 8rem;
    color: black;
}

.feature-priority button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 15rem;
    height: 3rem;
    border-color: transparent;
    margin-top: 3rem;
}

.feature-priority-server {
    position: absolute;
    top: 7rem;
    left: 43rem;
}

.feature-priority-immunify {
    position: absolute;
    top: 11rem;
    left: 39rem;
}

.feature-priority-chart {
    position: absolute;
    top: 18rem;
    left: 39rem;
}

.feature-priority-speed {
    position: absolute;
    top: 11rem;
    left: 70rem;
}
.feature-pricing {
    position: absolute;
    top: 140rem;
    background-color: #F6FBFF;
    color: black;
    width: 200vh;
    height: 100vh;
}

.feature-pricing h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    color: black;
}

.feature-pricing p {
    text-align: justify;
    color: gray;
}

.feature-pricing-card {
    margin-left: 44rem;
    margin-top: 5rem;
}

.feature-pricing-big {
    position: absolute;
    top: 9rem;
    left: 7rem;
}

.feature-pricing-intercom {
    position: absolute;
    top: 7.3rem;
    left: 10rem;
}

.feature-pricing-woman1 {
    position: absolute;
    top: 15rem;
    left: 4rem;
}

.feature-pricing-woman2 {
    position: absolute;
    top: 15rem;
    left: 33rem;
}

.feature-pricing-man {
    position: absolute;
    top: 22rem;
    left: 12rem;
}

.feature-pricing-online {
    position: absolute;
    top: 25rem;
    left: 30rem;
}

.testimonies-customer {
    position: absolute;
    width: 200vh;
    top: 181.8rem;
    background-color: white;
    color: black;

}

.testimonies-customer h1 {
    font-size: 2rem;
    color: blue;
    margin-left: 6rem;
}

.testimonies-customer p {
    color: grey;
}

.testimonies-card {
    display: flex;
    justify-content: space-evenly;
}

.testimonies-card-detail {
    width: 20rem;
    height: 25rem;
    text-align: left;
}

.testimonies-card-detail img {
    width: 20rem;
    height: 15rem;
}

.packages {
    padding-top: 7rem;
    position: absolute;
    top: 211rem;
    background-color: #F6FBFF;
    color: blue;
    width: 200vh;
    height: 160vh;
}

.packages-detail-header {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
}

.packages-detail h1 {
    text-align: center;
    font-size: 2rem;
    color: black;
}

.packages-detail-card {
    justify-content: space-evenly;
    margin-left: -1rem;
    margin-top: 5rem;
    display: flex;
}

.packages-detail-card ul {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: black;
}

.packages-detail-card p {
    font-size: 0.8rem;
    color: gray;
}

.packages-detail-card h3 {
    font-weight: lighter;
    font-size: 1rem;
}

.packages-detail-card button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    border-color: transparent;
    margin-top: 3rem;
}

.packages-detail-card-bayi {
    text-align: center;
    background-color: white;
    box-shadow: 0 1rem 1rem rgba(17,26,104,.15);
}

.packages-detail-card-bayi h2 {
    margin-top: 6rem;
    font-size: 2rem;
}

.bln-bayi {
    position: absolute;
    top: 33rem;
    left: 15.8rem;
    color: gray;
}

.termurah-bayi {
    background-color: #39C0A6;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 16rem;
    height: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 1rem;
}

.packages-detail-card-pelajar {
    text-align: center;
    background-color: white;
    box-shadow: 0 1rem 1rem rgba(17,26,104,.15);
}

.packages-detail-card-pelajar h1 {
    padding-bottom: 3rem;
}

.packages-detail-card-pelajar h2 {
    margin-top: 3rem;
    font-size: 2rem;
}

.diskon-pelajar {
    background-color: #39C0A6;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 16rem;
    height: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 1rem;
}

.pelajar-striketru {
    color: gray;
    text-decoration: line-through;
    margin-bottom: -3rem;
}

.bln-pelajar {
    position: absolute;
    top: 32.8rem;
    left: 36rem;
    color: gray;
}

.packages-detail-card-personal {
    text-align: center;
    background-color: white;
    box-shadow: 0 1rem 1rem rgba(17,26,104,.15);
}

.packages-detail-card-personal h1 {
    padding-bottom: 3rem;
}

.packages-detail-card-personal h2 {
    margin-top: 3rem;
    font-size: 2rem;
}

.best-seller {
    position: absolute;
    top: 14rem;
    left: 44rem;
    color: white;
    font-weight: bold;
    background: #007aff;
    border-radius: 0.5rem;
    padding: 1rem 5rem;
}

.arrow-down {
    position: absolute;
    top: 16.6rem;
    left: 50.5rem;
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #007aff;
}

.diskon-personal {
    background-color: #FB8E39;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 16rem;
    height: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 1rem;
}

.personal-striketru {
    color: gray;
    text-decoration: line-through;
    margin-bottom: -3rem;
}

.bln-personal {
    position: absolute;
    top: 32.8rem;
    left: 56rem;
    color: gray;
}

.packages-detail-card-bisnis {
    text-align: center;
    background-color: white;
    box-shadow: 0 1rem 1rem rgba(17,26,104,.15);
}

.diskon-bisnis {
    background-color: #39C0A6;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 16rem;
    height: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 1rem;
}

.bisnis-striketru {
    color: gray;
    text-decoration: line-through;
    margin-bottom: -3rem;
}

.bln-bisnis {
    position: absolute;
    top: 32.8rem;
    left: 76.4rem;
    color: gray;
}

.packages-detail-card-bisnis h1 {
    padding-bottom: 3rem;
}

.packages-detail-card-bisnis h2 {
    margin-top: 3rem;
    font-size: 2rem;
}

.faqs {
    position: absolute;
    top: 284.9rem;
    height: 180vh;
    width: 200vh;
    background: white;
}

.faqs h1 {
    color: black;
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.clients {
    display: flex;
    justify-content: space-evenly;
}

.clients img {
    width: 10rem;
    height: 4rem;
    filter: grayscale(90%);
    opacity: 0.5;
    margin-bottom: 7rem;
}

.faqs-detail li {
    color: black;
    font-size: 1.5rem;
    line-height: 3;
}

.faqs-list {
    margin-left: 15rem;
}

.guarantee {
    background-color: #F6FBFF;
    position: absolute;
    top: 360rem;
    height: 60vh;
    width: 200vh;
}

.guarantee h1 {
    text-align: left;
    color: black;
    font-size: 2rem;
}

.guarantee p {
    text-align: left;
    color: gray;
    line-height: 2;
}

.guarantee-detail {
    margin-left: 3rem;
}

.guarantee-detail-card {
    margin-left: 10rem;
    margin-top: 5rem;
}

.guarantee-detail-card {
    display: flex;
}

.guarantee-detail-card-text {
    margin-left: 7rem;
}

.guarantee-detail button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 14rem;
    height: 3rem;
    border-color: transparent;
    margin-top: 3rem;
}

.payments {
    position: absolute;
    height: 50vh;
    width: 200vh;
    top: 385rem;
    background: white;
}

.payments-detail-icon-1 {
    display: flex;
    justify-content: space-evenly;
}

.payments-detail-icon-2 {
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.payments img {
    height: 3rem;
    width: 5rem;
    opacity: 0.5;
    filter: grayscale(100%);
}

.payments-detail {
    margin-top: 4rem;
}

.payments-detail h3 {
    color: gray;
    text-align: center;
}

.order-hosting {
    position: absolute;
    top: 405rem;
    height: 30vh;
    width: 200vh;
    background-color: blue;
    color: white;
    display: flex
}

.order-hosting h1 {
    margin-top: 5rem;
    margin-left: 12rem;
    font-size: 2rem;
}

.order-hosting button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 14rem;
    height: 3rem;
    border-color: transparent;
    margin-top: 5rem;
    margin-left: 15rem;
}

.footer {
    position: absolute;
    top: 420rem;
    background-color: #333333;
    height: 130vh;
    width: 200vh;
}

.footer h3 {
    color: lightgray;
}

.footer-detail-1 {
    display: flex;
    justify-content: space-evenly;
}

.footer-detail-2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 4.5rem;
}

.footer ul {
    list-style-type: none;
    line-height: 2;
    margin-top: 4rem;
    margin-left: 2rem;
}

.footer li {
    font-size: 0.9rem;
}

.footer-detail-2 button {
    position: absolute;
    top: 38rem;
    left: 25rem;
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    border-color: transparent;
    margin-top: 5rem;
    margin-left: 25rem;
}

.footer input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    padding: 1rem 0;
    color: white;
}

.footer-detail-tentang-kami {
    margin-left: 9rem;
}

.footer-detail-newsletter {
    margin-left: 3rem;
}

.footer-detail-social-media {
    margin-left: 2rem;
    margin-top: 3.5rem;
}

.footer-detail-social-media img {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}

.footer-copyright {
    position: absolute;
    top: 50rem;
    left: 9rem;
    color: white;
    font-size: 0.8rem;
}

.footer-syarat-ketentuan {
    position: absolute;
    top: 50rem;
    left: 60rem;
    color: white;
    font-size: 0.8rem;
}